
@import "variables.scss";
nav {
    background-color: #fff;
    color: #000;
    display: flex;
   justify-content: flex-end;
    text-align: right;  
    padding: 0px 20px;   
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
  }
  
  nav ul {
    // float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .nav-left  {
    margin-right: auto;
    float: left;
    display: flex;
    align-items: center;
    order: -1;
    p{
    color: $primary-color;
    font-size: 1.5rem;
    margin-right: 30px;
    }
    #search-icon{
      width: 24px;
    }
    
    
  }
  input[type="search"] {
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
    background-color: #f1f1f1;
    outline: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  input[type="search"]:focus {
    background-color: $background-color;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 15px;
    transition: color 0.2s ease-in-out;
  }
  
  nav a:hover {
    color: $primary-color;
  }
  
  .user-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: $secondary-color;
    margin-left: 5px;
    border-radius: 50%;
  }

  @media screen and (max-width: 600px) {
    nav {
      // flex-direction: column;
      align-items: flex-end;
    }
  
    .nav-left{
      p{
        font-size: 1.2rem;
      }
    } 
    #search-icon{
      display: none;
    }
    nav li {
      margin: 10px 0;
    }
    input[type="search"]{
      width: 150px;
      font-size: 0.8rem;
    }
    
    nav a {
      display: block;
      padding: 10px;
      margin: 0;
    }
    
    .user-icon {
      display: none;
    }
    #login-link{
      display: none;
    }
}