$primary-color: #007bff;
$secondary-color: #6c757d;
$font-family: Arial, sans-serif;

// Define animations
@keyframes slide-in {
from {
opacity: 0;
transform: translateY(-20px);
}
to {
opacity: 1;
transform: translateY(0);
}
}

// Define styles

*{
box-sizing: border-box;
}
html, body {
margin: 0;
padding: 0;
height: 100%;
}

body {
background-image: url("../src/gs_main.png");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
font-family: $font-family;
background-color: #000;
}

form {
margin: 50px auto;
max-width: 500px;
padding: 20px;
background-color: #fff;
border-radius: 5px;
text-align: center;
animation: slide-in 1s ease-out;
}
div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
label {
display: block;
flex:1;
font-size: 1.5rem;
color: $primary-color;
margin-bottom: 10px;
text-align: left;
}

input[type="text"],
  input[type="email"],
  input[type="password"] {
flex:2;
width: 100%;
padding: 10px;
margin-bottom: 20px;
font-size: 1.5rem;
border: none;
border-radius: 5px;
background-color: #f2f2f2;
}
input[type="checkbox"] {
    flex:1;
    margin-top: 15;
  }
}
button {
background-color: $primary-color;
color: #fff;
border: none;
padding: 10px 20px;
font-size: 1.5rem;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.2s ease-in-out;
}

button:hover {
background-color: darken($primary-color, 10%);
}

p {
font-size: 1.2rem;
color: $secondary-color;
margin-top: 20px;
}

a {
text-decoration: none;
color: $primary-color;
transition: color 0.2s ease-in-out;
}

a:hover {
color: darken($primary-color, 10%);
}

@media only screen and (max-width: 700px) {
form {
margin-top: 50px;
max-width: 300px;
}
}
